.law{
    max-width: 100%;
    background-color: var(--background-secondary);
    margin-top: 1em;
    padding: 1em;
    border-radius: 10px;
}

.reference {
    text-decoration: underline;
}

.reference:hover {
    color: var(--region-initial);
}

.law-info {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem;
    margin: 0 15em;
}

.consent-required {
    background-color: lightgreen; /* color when consent is required */
}

.consent-not-required {
    background-color: lightcoral; /* color when consent is not required */
}