.law{
    max-width: 100%;
    background-color: white;
    padding: 1rem;
    margin-top: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.law-info {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem;
}

.law-reference {
    text-decoration: underline;
}

.consent-required {
    background-color: lightgreen; /* color when consent is required */
}

.consent-not-required {
    background-color: lightcoral; /* color when consent is not required */
}

