.modal {
  background-color: var(--modal-background);
  color: var(--text);
  padding: 2%;
  height: 90%;
  margin: 2% auto;
  border: none;
  border-radius: 10px;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 200ms;
  transform: translateY(0px);
}

.modal.comparing {
  width: 80%;
}

.modal.not-comparing {
  width: 50%;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
    transform: translateY(-100px);
	}
	100% {
		opacity: 1;
    transform: translateY(0px);
	}
}

.modal:focus {
  outline: none;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-header {
  display: flex;
  margin-bottom: 5px;
}

.modal-header h2 {
  font-weight: 600;
}

.compare-button {
  margin-left: 20px;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  margin-right: 1%;
  margin-top: 1%;
  scale: 1.3;
}

.close-button:focus {
  outline: none;
}

.content-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.one-item .modal-section {
  width: 100%;
}

.two-items .modal-section {
  width: 50%; /* Split width for two items */
}

.modal-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto; /* In case content is longer than the modal */
}

.editable {
  resize: none; /* Prevents resizing */
  border: none; /* Removes border */
  overflow: auto; /* Keeps the scrollbar behavior if content overflows */
  background-color: transparent; /* Makes the background transparent */
  outline: none; /* Removes focus outline */
  color: inherit; /* Inherits text color from parent */
  font-family: inherit; /* Inherits font properties */
  font-size: inherit; /* Inherits font size */
  padding: 0; /* Removes padding */
  margin: 0; /* Removes margin */
  width: 100%; /* Full width */
  height: auto; /* Height set to auto, adjust as necessary */
  white-space: pre-wrap; /* Maintains whitespace formatting */
  word-wrap: break-word; /* Ensures long words do not cause layout issues */
}

.editable:focus {
  outline: none;
}

.law-name {
  font-size: 1.5em;
}

#editor {
  width: 100%;
  height: 100%;
}