.law-info {
    display: flex;
    justify-content: space-between;
}

.law-reference {
    text-decoration: underline;
}

.accordions-container {
    padding-top: 10px;
}

#accordion-container {
    max-width: 650px;
    width: 100%;
    position: relative; /* Changed from absolute to relative */
    left: 0; /* Removed left positioning */
    transform: none; /* Removed transform */
}

.accordion-item-container {
    border-bottom: 1px solid var(--text);
    overflow: hidden;
}

.accordion-item-container .question-container {
    width: 100%;
    text-align: left;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--text);
}

.question-container.active {
    color: var(--region-initial);
    background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.04), transparent);
}

.accordion-item-container .question-container:hover {
    background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.04), transparent);
}

.accordion-item-container .arrow {
    font-size: 2rem;
    transition: .5s ease-in-out;
}

.arrow.active {
    rotate: 180deg;
    color: var(--region-initial);
}

.accordion-item-container .answer-container {
    padding: 0 1rem;
    display: grid; 
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.7s ease-in-out, max-height 0.7s ease-in-out;
    /*overflow: hidden;
    padding: 0 1rem;
    max-height: 0;
    transition: max-height 0.7s ease-in-out, padding 0.7s ease-in-out;
    overflow: hidden;*/
}

.accordion-item-container .answer-container.active {
    background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.04), transparent);
    grid-template-rows: 1fr;
    transition: grid-template-rows 0.7s ease-in-out, max-height 0.7s ease-in-out;
    /*padding: 1rem;
    max-height: 2000px;
    transition: max-height 0.7s ease-in-out, padding 0.7s ease-in-out;*/
    
}

.accordion-item-container .answer-container > div {
    overflow: hidden;
}

.accordion-item-container .answer-content {
    padding: 1rem 0;
    font-size: 18px;
    font-style: italic;
}

.answer-list {
    padding-left: 20px;
    list-style-type: disc;
}

.answer-list li {
    margin-bottom: 8px;
    font-size: 18px;
    font-style: italic;
}

