.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size:calc(10px + 0.4vw);
    text-align: center;
}

.small-title {
    margin-bottom: 2.5vh;
}
