@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{

    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /*variables declared for colors*/
    --mainColor: #202020;
    --mainColorLight: #5c5c5c; 
    --secondaryColor: #6284cc;
    --textColor: #E6E6E6;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
}
.logo-image{
    width: 60px;
    height: 45px;
    margin-top: -10px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    margin-right: auto;
}
nav a{
    margin: 0 2rem;
    color: var(--textColor);
    text-decoration: none;
    position: relative;
}
/*line border*/
nav a::after{
    content: '';
    position: absolute;
    top: 50%; /* Adjust this value for vertical alignment */
    right: 0;
    transform: translateY(-45%);
    height: 70%; /* Adjust the height of the line */
    width: 1px; /* Width of the line */
    background-color: var(--textColor); /* Color of the line */
    margin-right: -33px;/* Adjust position between links*/
    pointer-events: none;/*makes the line not clickable*/
  }
/*last nav a is changed to not have border*/
.last-nav-a::after{
    width: 0;
  }
nav a:hover{
    content: none;
    color:var(--secondaryColor);
}

header .nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}

@media only screen and (max-width: 1024px){
    header .nav-btn{
        visibility: visible;
        opacity: 1;
    }
    header nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--mainColor);
        transition: 1s;
        transform: translateY(-100vh);
    }
    header .responsive_nav{
        transform: none;
    }
    nav .nav-close-btn{
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
    nav a{
        font-size: 1.5rem;
    }
    nav a::after{
        width: 0;
        background-color: var(--mainColor);
    }

}

