#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 10%;
    /* margin-bottom: 20px; */
    padding-top: 25px;
    border-bottom: 1px solid var(--background-secondary)
}
/* 
#map_container {
    position: relative;
    z-index: 1000;
    background-color: transparent;
} */